<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/productList.css" type="text/css" media="screen"><!--Estilos-->
    <title>Listado de productos</title>
</head>
<body>
    <div class="contenedor">
        <%- include('../partials/header')%>
        <main>
                <div>
                    <h1>Administración de productos</h1>
                </div>
                <div class="divTabla">
                    <table>
                            <tr>
                                <th>Categoria</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th><a href="http://localhost:5000/products/productCreate"><i class="fas fa-plus"></i></a></th>
                            </tr>
                            <tr>
                                <td>Rodado</td>
                                <td>Bicicleta MB Rod 29</td>
                                <td>$34.659,23</td>
                                <td><a href="http://localhost:5000/products/productEdit"><i class="fas fa-edit"></i></a><i class="fas fa-trash"></i></td>
                            </tr>
                            <tr>
                                <td>Accesorio</td>
                                <td>Viela + Pedal</td>
                                <td>$1.875,32</td>
                                <td><a href="http://localhost:5000/products/productEdit"><i class="fas fa-edit"></i></a><i class="fas fa-trash"></i></td>
                            </tr>
                            <tr>
                                <td>Indumentaria</td>
                                <td>Calza Venzo</td>
                                <td>$3.568,00</td>
                                <td><a href="http://localhost:5000/products/productEdit"><i class="fas fa-edit"></i></a><i class="fas fa-trash"></i></td>
                            </tr>
                            
                    </table>
          </main>
          <%- include('../partials/footer')%>
    </div>
    
</body>
</html>