<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/productEdit.css" type="text/css" media="screen"><!--Estilos-->
    <title>Edici贸n de productos</title>
</head>
<body>
    <div class="contenedor">
        <%- include('../partials/header')%>

        <main>
            <form action="" method="">
            <div class="titulos">
                <h1>Administraci贸n de Productos</h1>
                <h2>Modificaci贸n de producto</h2>
            </div>
            <div class="divCarga">
                <h4>Categoria</h4>
                <select class="valores" >
                    <option value=Rodado>Rodado</option>
                    <option value=Equipamiento>Equipamiento</option>
                    <option value=Indumentaria>Indumentaria</option>
                    <option value=Accesorios>Accesorios</option>
                    <option value=Taller>Taller</option>
                </select>
                <h4 >Producto</h4>
                <input type="text" class="valores" name="producto">
                <h4>Precio</h4>
                <input type="text" class="valores" name="precio">
                <h4>Descripci贸n</h4>
                <textarea name="" id="" cols="30" rows="10" class="valores" name="descripcion"></textarea>
            </div>
            <div class="divCarga">
                 <div id="ContenedorElementosDeAbajo"> <!--Esto es para poder leer archivos del lado del servidor -->
                    <h4 id="tituloImagenes">Imagenes</h4>
                    <input type="file" multiple name="files[]" name="archivo">
                    <button type="submit">Adjuntar</button>
                    <button id="tacho"><i id="tachitoImportado" class="fas fa-trash"></i></button>
                    <button type="submit" id="guardar">Guardar</button>
                </div>
            </div>
            </form>
        </main>
        <%- include('../partials/footer')%>
        
    </div>
    
</body>
</html>