<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/productCreate.css" type="text/css" media="screen"><!--Estilos-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">

    <title>Publicar Producto</title>
</head>
<body>
    <div class="contenedor">
        <%- include('../partials/header')%>

        <main>
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="titulos">
                    <h1>Administración de Productos</h1>
                    <h2>Alta de producto</h2>
                </div>
                <div class="divCarga">
                    <h4>Categoria</h4>
                    <select class="valores" name="categoria">
                        <option value=Bicicleta>Bicicleta</option>
                        <option value=Rodado>Rodado</option>
                        <option value=Equipamiento>Equipamiento</option>
                        <option value=Indumentaria>Indumentaria</option>
                        <option value=Accesorios>Accesorios</option>
                        <option value=Taller>Taller</option>
                    </select>
                    <h4 >Producto</h4>
                    <input type="text" class="valores" name="producto">
                    <h4>Precio</h4>
                    <input type="text" class="valores" id="precio" name="precio" maxlength="10" required autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57 || event.charCode == 44)" min="0" pattern="\d*"/>
                    <h4>Cantidad</h4>
                    <input  type="number" class="valores" name="cantidad">
                    <h4>Descripción</h4>
                    <div name="descripcionD">
                        
                        <input placeholder="Marca" type="text" class="descripcion" name="marca">
                        <input placeholder="Modelo" type="text" class="descripcion" name="modelo">
                        
                        <!-- <input placeholder="Color" type="text" class="valores" name="color"> -->
                        <textarea placeholder="Detalle" name="detalle" id="" cols="30" rows="9" class="descripcion"></textarea>

                    </div>
                    <h4 class="valores  ">Imagenes</h4>
                </div>
                <div class="divCarga">
                    <div class ="zonaInferior" enctype='multipart/form-data'> <!--Esto es para poder leer archivos del lado del servidor -->
                        <input type="file" multiple name="files[]" name="archivo">
                        <button id="adjuntar" type="submit">Adjuntar</button>
                        <button id="tacho"><i class="fas fa-trash"></i></button>
                        <button type="submit" id="guardar">Publicar</button>
                    </div>
                </div>
            </form>
        </main>
        <%- include('../partials/footer')%>
        
    </div>
    
</body>
</html>