/*Configuraciones*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*Listado de colores*/
#color1{background-color: #5697fa;}
#color2{background-color: #bb0a21;}
#color3{background-color: #66c674;}
#color4{background-color: #ffffff;}
#color5{background-color: #ebebeb;}
#color6{background-color: #333333;}
#color7{background-color: #666666;}
#color8{background-color: #000000;}
 
/*Listado de fuentes*/
#fuente1{font-family: 'Anton', sans-serif;}
#fuente2{font-family: 'Roboto', sans-serif;}

/*Login de usuario*/
#Tag_Login{display: inline-block;}
#Tag_Register{display: inline-block;}


/*Aplicación de estilos Genéricos por defecto*/
*{  
    margin: 0px;
    padding: 0px;
    color: #000000;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
}

body{background-color: #ffffff;}  /*Color de fondo del sitio*/


/*Configuraciones para CSS Desktop Version*/
@media screen and (min-width: 801px)
{ 
#Goodbikes{display: none;}
#Bars{display: none;}
.ocultoMovil{display: none;}

#conteneder_header_Mobile{display:none}
#User_Name_Mobile{display: none;}
#Tag_Profile_Mobile{display: none;}      
#Tag_Login_Mobile{display: none;}

    .Contenedor{width: 80%;display: flex;}    /*El contenedor genérico - Dejamos un 10% de espacio a cada lado*/

        /*HEADER*/
        header{
                background-color: #bb0a21;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                height: 80px;
                }

                header img{ 
                        width: 70px; height: 60px;
                        margin-right: 15%; 
                        margin-left: 0%;}
                
                header input{
                        height: 25px;
                        width: 400px;
                        border-style: solid;
                        border-width: 0px;
                        border-radius: 5px;
                        color: #000000;
                        padding-left: 5px;}

                header input::placeholder{
                        text-align: center;
                        color: #666666;}
                
                header div{
                        
                        font-family: 'Roboto', sans-serif;
                        font-size: 13px;
                        font-weight: 400; /*Negrita*/
                        letter-spacing: 0.1em; /*Espaciado entre caracteres*/
                        color: #ebebeb;}

                    header div:hover{color: #666666;}

            .logo{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                
                text-align: center;
                justify-content: center;
                align-items: center;
            }
                .logo p{
                    color: white;
                    font-size: 17px;
                }

            .ingresar{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                height: 40px;        
                } 

                .ingresar ul{
                    list-style:none;
                    text-align: center;}

                .ingresar ul li{
                    display: inline-block;   
                    text-align: center;
                    margin: 0px 10px 0px 10px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    letter-spacing: 0.1em;
                    color: white;
                }

                .ingresar ul li a  {
                    color:white;
                    text-decoration: none;
                    font-size: 15px;
                }

                /*Carrito*/
                .ingresar ul li a i  {  
                    color:white;
                    font-size: 15px;
                }


        /*NAV*/
        nav{
            background-color: #ebebeb;
            align-items: center;
            height: auto;        
            width: 100%;}
            
            nav ul{
                list-style:none;
                text-align: center;
                display:   flex;
                justify-content: space-around;
                }
                
                nav ul li{
                    justify-content: space-around;
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    margin: 1% 0px 1% 0px;
                    font-family: 'Anton', sans-serif;
                    text-transform: uppercase;
                    font-size: 16px;
                    letter-spacing: 0.1em;
                    }

                nav ul li:hover{color: #bb0a21;}
    }



    /*CSS Mobile Version*/
@media screen and (min-width: 200px) and (max-width: 800px) 
{

#GoobBikes_en_el_menu{display: none;}
#Tag_Login{display: none;}
#Tag_Register{display: none;}
#Tag_Profile{display: none;}
#User_Name{display:none}
#Oferta1{display: none;}
#Oferta2{display: none;}
#Oferta3{display: none;}
#Oferta4{display: none;}
#Oferta5{display: none;}


    
    #Contenedor{
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 0px 0px;
        background-color: #ebebeb;} 

        #container_header_Mobile_logged{position: absolute; 
            width: 100vw; top: 12vh;height: 7vh;left: 0px;padding-left: 10px;
            padding-top: 10px;padding-bottom: 10px;text-align: center;
            background-color: #bb0a21;}
            
            #container_header_Mobile_logged li{font-weight: bold;font-family: 'Roboto', sans-serif;font-size: 13px;
                list-style:none;  display: inline-block;color: #ffffff;}
            
            #container_header_Mobile_logged li a{text-decoration: none;color: #ffffff;
                margin: 4vw;font-weight: bold;font-family: 'Roboto', sans-serif;font-size: 13px;}

        header{
            height: 15vh;
            width: auto;
            background-color: #bb0a21;
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            }
            
            header img{
                width: auto; 
                height: 8vh;}/*Logo*/


            
            
            nav{position: absolute;
                top: 5.5%; 
                left: 16%;} /*Contiene a las bars y a todo lo desplegable*/
                
                #Bars{font-size: 24px; 
                    color: #ebebeb;
                    text-align: center;} 
                    
                    #Bars:hover{color: #66c674;}

                    nav ul {
                        background-color: #ebebeb;
                        border-color: #666666;
                        border-style: solid;
                        border-width: 1px;
                        list-style-type: none;
                        margin-top: 10%;
                        display: none;
                        flex-direction: column;
                        justify-content: space-around;
                        height: 40vh;
                        width: 25vh;
                        padding-left: 2vh;
                        padding-right: 6px;
                        border-radius: 10px;}
                        
                        nav ul li a {text-decoration: none;}
                        
                        /*Texto corporativo dentro del Bars*/ 
                        #Goodbikes{display: flex;
                            font-family: 'Anton', sans-serif;
                            color: #bb0a21;
                            text-transform: uppercase;
                            letter-spacing: 0.1em; 
                            text-decoration: none;}
                        
                            
                            
            header input{
                height: 4vh;
                width: 28vh;
                margin: 0px 0px 0px 2vw;
                border-radius: 5px;
                border-color: none; 
                border-style: none;}
                
                ::-webkit-input-placeholder { 
                    text-align: center; 
                } 

                #Contenedor_Ingresar{display: flex;}/*Todo para el carrito*/
                header div ul {list-style-type: none;}
                
                #Tag_Cart{
                    font-size: 28px;
                    color: #ebebeb;
                    margin: 0px 8vw 0px 0px;}
                                
}