/*Configuraciones*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


/*Listado de colores*/
#color1{background-color: #5697fa;}
#color2{background-color: #bb0a21;}
#color3{background-color: #66c674;}
#color4{background-color: #ffffff;}
#color5{background-color: #ebebeb;}
#color6{background-color: #333333;}
#color7{background-color: #666666;}
#color8{background-color: #000000;}
 
/*Listado de fuentes*/
#fuente1{font-family: 'Anton', sans-serif;}
#fuente2{font-family: 'Roboto', sans-serif;}


/*Aplicación de estilos Genéricos por defecto*/
*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
    color: #000000;
    text-align: center; /*Este agregado es único para el login*/
}



body{background-color: #ffffff;}  /*Color de fondo del sitio*/


/*Configuraciones para CSS Desktop Version*/
@media screen and (min-width: 801px)
{ 
#Goodbikes{display: none;}
#Bars{display: none;}
.ocultoMovil{display: none;}
    
    .Contenedor{width: 80%;display: flex;}    /*El contenedor genérico - Dejamos un 10% de espacio a cada lado*/

    
    /* MAIN */

    .contenedor_del_Main{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    #img_login{margin-bottom: -5vh;width:15%; height:auto}

        main{
            width: 50%;
            height: 50vh;
            background-color: #ebebeb;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content:center;
            border-radius: 6px;
            
        }

        main form{
            width: 100%;
            height: 50vh;
            background-color: #ebebeb;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content:center;
            border-radius: 6px;

        }

            main form .principal{
                width: 50%;
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            main form div{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 30%;  
                    
            }
            main form div h1{
                text-align: center;
                margin-bottom: 10%;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                letter-spacing: 0.1em;
                font-weight: bold;
                
            }

            main form div input{
                padding: 5px;
                margin: 5px;
                border: none;   
                
            }

            main form div button{
                margin: 10px;
                width: 80%;
                height: 30px;
                font-family: 'Anton', sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 15px;
                border-radius: 6px;
                background-color: #3E3D40;
                color: #ffffff;
                align-self: center;

            }

            main form div button:hover{
                background-color: #882345;
            }

                .datos input{
                    border: none;
                }

                



}

/*CSS Mobile Version*/
@media screen and (min-width: 200px) and (max-width: 800px) {
    #GoobBikes_en_el_menu{display: none;}
    /* #Al_Home{display: none;} */
    #Goodbikes{display: flex;font-family: 'Anton', sans-serif;color: #bb0a21;text-transform: uppercase;letter-spacing: 0.1em; text-decoration: none;}
      

    #img_login{margin-bottom: -5vh;align-self: center;width:20%; height:auto}

            #Contenedor_Body
            {display: flex; 
            flex-direction: column;
            justify-content: space-between;
            height: auto;
            width: 100vw;
            background-color: #ebebeb;
            padding: 0px 0px 0px 0px; 
            margin: 0px 0px 0px 0px;}

           

        
        .contenedor_del_Main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100vw;
            margin: 2vh 0px;

            }

        .principal{
            display: flex; 
            flex-direction: column;
            justify-content: space-around;
            width: 70vw;
            margin: 3vh 0px;
            ;}

            main form div h1{
                text-align: center;
                font-family: 'Roboto', sans-serif;
            
                letter-spacing: 0.1em;
                font-weight: bold;
                font-size: 1.5em;
                
                
            }
            
        .principal input{margin-top: 2vh;}
        
        .campos{
            border: none;
            height: 25px;
            width: 100%;
            }
        
        .principal button {
            margin-top: 2vh;
            width: 80%;
            align-self: center;
            height: 30px;
            font-family: 'Anton', sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: 15px;
            border: none;
            background-color: #3E3D40;
            border-radius: 6px;
            color: #ffffff;
        }
        
        main div button:hover{
            background-color: #882345;
        }
        
        .principal a{margin-top: 2vh;align-self: center;}
        
       

                
                #Ultimo{margin-bottom: 2vh;}
}