/*Configuraciones*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


/*Listado de colores*/
#color1{background-color: #5697fa;}
#color2{background-color: #bb0a21;}
#color3{background-color: #66c674;}
#color4{background-color: #ffffff;}
#color5{background-color: #ebebeb;}
#color6{background-color: #333333;}
#color7{background-color: #666666;}
#color8{background-color: #000000;}
 
/*Listado de fuentes*/
#fuente1{font-family: 'Anton', sans-serif;}
#fuente2{font-family: 'Roboto', sans-serif;}


/*Aplicación de estilos Genéricos por defecto*/
*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
    color: #000000;
}



body{background-color: #ffffff;}  /*Color de fondo del sitio*/


/*Configuraciones para CSS Desktop Version*/
@media screen and (min-width: 801px)
{ 
#Goodbikes{display: none;}
#Bars{display: none;}
.ocultoMovil{display: none;}
    
    .Contenedor{width: 80%;display: flex;}    /*El contenedor genérico - Dejamos un 10% de espacio a cada lado*/

    
    /* MAIN */

    .contenedor_del_Main{
        height: 457px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
        main{
            width: 50%;
            height: 60vh;
            background-color: #ebebeb;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content:center;
            border-radius: 6px;
        }

            main .principal{
                width: 50%;
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            main div{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 30%;  
                    
            }

            main div input{
                padding: 5px;
                margin: 5px;
                
            }

            main div button{
                margin: 10px;
                height: 30px;
                font-family: 'Anton', sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 15px;
                border: none;
                background-color: #5697fa;
            }

            main div button:hover{
                background-color: #66c674;
            }

                .datos input{
                    border: none;
                }

                #Olvido{text-align: center;}


        /*FOOTER*/

        footer{
            height: 80px;
            position: relative;
            background-color: #bb0a21;  
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            font-weight: 300;
            text-decoration: none;
            margin-bottom: 0%;
            
          }
        
         
        /* footer > * { preguntar herencia
            color:white;
        } */
        
          footer ul {
              list-style-type: none;
              
              
         }
        
          footer ul li p {
              text-decoration: none;
              color: white;
              letter-spacing: 0.1em;
              margin: 5px;
            
          }
          footer ul li a {
            text-decoration: none;
            color: white;
            letter-spacing: 0.1em;
           
          
        }
        
            footer ul li a i {
            font-size: 15px;
            font-weight: 200;
            color: inherit;
            margin: 5px;
    }

}

/*CSS Mobile Version*/
@media screen and (min-width: 200px) and (max-width: 800px) {
    #GoobBikes_en_el_menu{display: none;}
    /* #Al_Home{display: none;} */
    #Goodbikes{display: flex;font-family: 'Anton', sans-serif;color: #bb0a21;text-transform: uppercase;letter-spacing: 0.1em; text-decoration: none;}
      

        #Contenedor_Body
            {display: flex; 
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
            width: 100vw;
            background-color: #ebebeb;
            padding: 0px 0px 0px 0px; 
            margin: 0px 0px 0px 0px;}

           

        
        .contenedor_del_Main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100vw;

            }

        .principal{display: flex; flex-direction: column;justify-content: space-around;}
        .principal input{margin-top: 2vh;}
        
        .campos{border: none;}
        
        .principal button {
            margin-top: 2vh;
            height: 30px;
            font-family: 'Anton', sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: 15px;
            border: none;
            background-color: #5697fa;
        }
        
        main div button:hover{
            background-color: #66c674;
        }
        
        .principal a{margin-top: 2vh;align-self: center;}
        
       
        footer{background-color: #bb0a21; text-align: center;margin-top: 5%; padding-top: 5%;;
            bottom: 0px;width: 100vw;}
                footer ul li a{color: #ffffff;text-decoration: none;font-size: 10px;}   
                footer ul li p{color: #ffffff;text-decoration: none;font-size: 10px;} 
                footer ul li i{color: #ffffff;text-decoration: none;font-size: 10px;} 
                
                #Ultimo{margin-bottom: 2vh;}
}