/*Configuraciones*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*Listado de colores*/
#color1{background-color: #5697fa;}
#color2{background-color: #bb0a21;}
#color3{background-color: #66c674;}
#color4{background-color: #ffffff;}
#color5{background-color: #ebebeb;}
#color6{background-color: #333333;}
#color7{background-color: #666666;}
#color8{background-color: #000000;}
 
/*Listado de fuentes*/
#fuente1{font-family: 'Anton', sans-serif;}
#fuente2{font-family: 'Roboto', sans-serif;}


/*Aplicación de estilos Genéricos por defecto*/
* { 
    margin: 0px;
    padding: 0px;
    color: #000000;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
}



body{background-color: #ffffff;}  /*Color de fondo del sitio*/


/*Configuraciones para CSS Desktop Version*/
@media screen and (min-width: 801px) {

    /*El contenedor genérico - Dejamos un 10% de espacio a cada lado*/
    .Contenedor{width: 80%;display: flex;}    


    /*HEADER*/
    header{
            background-color: #bb0a21;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            height: 80px;}

    header img{ 
            width: 70px; height: 60px;
            margin-right: 15%; 
            margin-left: 0%;}
       
    header input{
            height: 25px;
            width: 350px;
            border-style: solid;
            border-width: 0px;
            border-radius: 5px;
            color: #000000;}

    header input::placeholder{
            text-align: center;
            color: #666666;}
    
    header div{
            margin-left: 15%;
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            font-weight: 400; /*Negrita*/
            letter-spacing: 0.1em; /*Espaciado entre caracteres*/
            color: #ebebeb;}

    header div:hover{color: #666666;}
            
    .ingresar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 40px;        
        width: 250px;
        margin:0px 0px 0px 8% }

    .ingresar ul{
        list-style:none;
        text-align: center;}

    .ingresar ul li{
        display: inline-block;   
        text-align: center;
        margin: 0px 10px 0px 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        letter-spacing: 0.1em;
        color: white;
    }

    .ingresar ul li a  {
        color:white;
        text-decoration: none;
        font-size: 15px;
    }

    /*Carrito*/
    .ingresar ul li a i  {  
        color:white;
        font-size: 15px;
    }

    /*NAV*/
    nav{
        background-color: #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 40px;        
        width: 100%;}
    nav ul{
        list-style:none;
        text-align: center;}

    nav ul li{
        display: inline-block;   
        text-align: center;
        margin: 0px 50px 0px 50px;
        font-family: 'Anton', sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.1em;
        }
    nav ul li:hover{color: #bb0a21;}

    main{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 1%;
  }

  main div {
    width: 90%;
    padding: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    background-color: #d1caca;
    
}

main section{
    width: 210px;
    height: 250px;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    border-color: #666666;
    background-color: #ebebeb;
    margin-left: 1%;
    margin-right: 1%;
    /* margin-top: 1%; */
    /* display: inline-flex; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
    #DetalleCompleto {
        width: 800px;
        /* height: 250px; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0%;
        padding: 0%;
        flex-direction: column;
    }

        #cuadrosSuperiores{
            width: 800px;
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            justify-content: center;
            align-items: flex-end;
        }
            #CuadroCentro {
                width: 290px;
            }
            
            #CuadroIzquierdo{
                align-items: center;
            }
             
            #CuadroDerecho{
                align-items: center;
                justify-content: center;
                display: flex;
            }
             
            
        #CuadroHorizontal{
        width: 750px;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        padding: 1%;
        margin: 0% 0% 1% 0%;
        }

  main section img{
      height: 140px; 
      width: 180px;
      margin-top: 5%;
   
  }

  main section img:hover{
      border-style: solid;
      border-color: #5697fa;
  }

  main section ul{    
      list-style:none;
      text-align: center;
      line-height: 30px;}
  
  main section ul li{
      font-weight: 500;
      color: #66c674;
  }

  main section ul li:hover{
      color: #333333;
  }
  .imagenIzquierda {
    width: 50px;  
    height: 50px;
  }

  
 
  footer{
    height: 90px;
    position: relative;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    margin-top: 5%;
    background-color: #bb0a21;  
    margin-bottom: 0%;
    padding-top: 1%;
  }

/* footer > * { preguntar herencia
    color:white;
} */

  footer ul {
      list-style-type: none;
      
 }

  footer ul a {
      text-decoration: none;
      color: white;
      letter-spacing: 0.1em;
  }

    footer ul li a i {
    font-size: 15px;
    font-weight: 200;
    color: inherit;
 }
}



/*CSS Mobile Version*/
@media screen and (min-width: 200px) and (max-width: 800px) {
    body
        {display: flex; 
        justify-content: center;
        flex-direction: column;}
    #Contenedor
        {display: flex; 
        flex-direction: column;
        justify-content: flex-start;} 

        header{
            height: 15vh;
            background-color: #bb0a21;
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            align-items: center;}

            #Contenedor_Ingresar
            {position: relative;
                bottom: 20%; 
                width: 50px;}

                    #Tag_Login{
                    position:relative; 
                    visibility: hidden;}

                    #Tag_Register
                    {position:relative; 
                    visibility: hidden;}

                    #Tag_Cart{font-size: 26px;color: #ebebeb;align-self: center;}
                
                header div ul {list-style-type: none;}

                header img{
                    visibility: hidden;
                    width: 35px; 
                    height: 80px;}

            header input{
                height: 4vh;
                width: 30vh;
                border-radius: 5px;
                border-color: none; 
                border-style: none;}

        #Bars{font-size: 24px; 
            color: #ebebeb;
            text-align: center;} 
               
            #Bars:hover{color: #66c674;}


        nav{position: absolute;
            top: 6%; 
            left: 5%; 
            }

            nav ul {
                background-color: #ebebeb;
                border-color: #666666;
                border-style: solid;
                border-width: 1px;
                list-style-type: none;
                margin-top: 10%;
                display: none;
                flex-direction: column;
                justify-content: space-around;
                height: 40vh;
                width: 25vh;
                padding-left: 2vh;
                border-radius: 10px;}

        .ContenedorOfertas{
            display: block;
            text-align: center;
            padding: 10%;
            background-color: #ebebeb;
            }

            #Oferta0{align-self: center;}
                .Oferton{border-radius: 10px;}
            #Oferta1{display: none;}
            #Oferta2{display: none;}
            #Oferta3{display: none;}
            #Oferta4{display: none;}
            #Oferta5{display: none;}

    main{display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}

        main figure{display: flex; flex-direction: column;justify-content: center;}
        main img{
            border-radius: 10px;
            border-style: solid; 
            margin-top: 5%;
            margin-bottom: 5%; 
            border-color: #666666;
            border-width: 3px;
            width: 30vh;}
            
        main section ul li{
            display: flex; 
            justify-content: center;
            color: #66c674;}
            
    footer{background-color: #bb0a21; text-align: center;margin-top: 5%; padding-top: 5%;padding-bottom: 5%;}
            footer ul li a{color: #ffffff;text-decoration: none;font-size: 10px;}   
            footer ul li p{color: #ffffff;text-decoration: none;font-size: 10px;} 
            footer ul li i{color: #ffffff;text-decoration: none;font-size: 10px;} 
           
}