/*Configuraciones*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*Listado de colores*/
#color1{background-color: #5697fa;}
#color2{background-color: #bb0a21;}
#color3{background-color: #66c674;}
#color4{background-color: #ffffff;}
#color5{background-color: #ebebeb;}
#color6{background-color: #333333;}
#color7{background-color: #666666;}
#color8{background-color: #000000;}
 
/*Listado de fuentes*/
#fuente1{font-family: 'Anton', sans-serif;}
#fuente2{font-family: 'Roboto', sans-serif;}


/*Aplicación de estilos Genéricos por defecto*/
*{  
    margin: 0px;
    padding: 0px;
    color: #000000;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
}

body{background-color: #ffffff;}  /*Color de fondo del sitio*/


/*Configuraciones para CSS Desktop Version*/
 @media screen and (min-width: 801px) {*/

#Goodbikes{display: none;}
#Bars{display: none;}
.ocultoMovil{display: none;}

    .Contenedor{width: 80%;display: flex;}    /*El contenedor genérico - Dejamos un 10% de espacio a cada lado*/

        /*HEADER--->header.css*/
       
        /*MAIN*/

        main{
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%
            
        }

      
        
            main .divCarga{
                background-color: #ebebeb ;
                width: 80%;
                margin: 0% 10% 0% 10%;     
                display: flex;
                flex-wrap: wrap;
                justify-content: center;     
                padding-bottom: 10px; 
            }


            main div h1 {
                font-family: 'Roboto', sans-serif;
                text-transform: capitalize;
                font-size: 20px;
                letter-spacing: 0.1em;
                font-weight: bold;
                text-align: center;
                margin: 2% 0% 0% 1%;
            }
        
            main div h2{
                font-family: 'Roboto', sans-serif;
                text-transform: capitalize;
                font-size: 18px;
                letter-spacing: 0.1em;
                font-weight: bold;
                margin: 0% 0% 3% 2%;
                text-align: center;
            }
        
                main div:nth-last-child(2){
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 10px;
                }

                main div:nth-last-child(2) h4{
                    font-size: 18px;
                    text-align: left;
                    width: 50%;
                
                }
                main div:nth-last-child(2) select{
                    font-size: 15px;
                }

            
                main div:nth-last-child(2) .valores{
                    width: 50%;
                    margin-bottom: 10px;
                    border:none;
                
                }
                
                main div:nth-last-child(2) input{
                    height: 20px; 
                    border-style: solid;
                    border-color: rgb(212, 92, 13);
                }

                
                
                main div:nth-child(3) h4{
                    font-size: 18px;
                    text-align: left;
                    width: 50%;
                    
                }
                
                    .zonaInferior{display: flex;
                        width: 100%;
                        height: 10vh;
                        justify-content: center;
                        position: relative;
                    }                               /*Contenedor de los botones de abajo*/
                                        
                    
                    main div:nth-child(3) input[type=file]::-webkit-file-upload-button{
                        height: 30px;
                        width: 120px;
                        font-family: 'Anton', sans-serif;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        font-size: 13px;
                        background-color: #5697fa;
                        border-radius: 6px;
                        border-style: none;
                    }                                   /*Botón Elegir archivo*/
                    
                        main div:nth-child(3) input{
                                margin-right: 10px;
                                background-color: #ffffff;
                                padding: 0% 2% 0% 0%;
                                font-weight: bold;
                                height: 30px;
                            }                           /*Input*/
                    
                        main div:nth-child(3) #adjuntar{display: flex; 
                            justify-content: center;align-items: center; /*Boton Adjuntar*/
                        }
                        
                        main div:nth-child(3) button[type="submit"]{
                            width: 10vw;
                            height: 30px;
                            font-family: 'Anton', sans-serif;
                            text-transform: uppercase;
                            letter-spacing: 0.1em;
                            font-size: 15px;
                            background-color: #5697fa;
                            border-radius: 6px;
                            border-style: none;
                        }                                           /*Dos botones azules*/

                        
                        main div:nth-child(3) #guardar{
                            align-self: center;
                            justify-content: center;
                            position: absolute;                     /*Botón Publicar*/
                            right: 2vw;
                            bottom: 5px;
                        }


                

                        main div:nth-child(3) #tacho{
                        border: none;
                        align-self: start;
                        padding: 1px 0% 0% 1%;
                        
                        }

                        main div:nth-child(3) button i{
                            font-size: 25px;
                            color: red;
                        
                            
                            
                        }

                        main div:nth-child(3) button[type="file"]{
                        margin-left: 20px;
                        
                        }

       

 }




/*CSS Mobile Version*/
@media screen and (min-width: 200px) and (max-width: 800px) {
    #GoobBikes_en_el_menu{display: none;}
    /* #Al_Home{display: none;} */
    #Goodbikes{display: flex;font-family: 'Anton', sans-serif;color: #bb0a21;text-transform: uppercase;letter-spacing: 0.1em; text-decoration: none;}
    
    
    
    body
        {display: flex; 
        justify-content: center;
        flex-direction: column;}

        #Contenedor_Body
            {display: flex; 
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
            width: 100vw;
            background-color: #ebebeb;} 
           



        
        .contenedor_del_Main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100vw;

            }


         
        main div h1 {
            font-family: 'Roboto', sans-serif;
            text-transform: capitalize;
            font-size: 15px;
            letter-spacing: 0.1em;
            font-weight: bold;
            text-align: center;
            margin: 2%;
        }
       
        main div h2{
            font-family: 'Roboto', sans-serif;
            text-transform: capitalize;
            font-size: 13px;
            text-align: center;
            letter-spacing: 0.1em;
            font-weight: bold;
            margin: 0% 0% 3% 2%;
        }

        main{
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            background-color: #ebebeb ;
        }
        
        main .divCarga{
            
            width: 100%;
            /* margin: 0% 10% 0% 10%;      */
            display: flex;
            flex-wrap: wrap;
            justify-content: center;     
            
        }

        main div:nth-last-child(2){
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
            }
    
            main div:nth-last-child(2) h4{
                font-size: 18px;
                text-align: left;
                width: 70%;
               
            }
            main div:nth-last-child(2) select{
                font-size: 15px;
                width: 60%;
            }
    
           
            main div:nth-last-child(2) .valores{
                width: 70%;
                margin-bottom: 10px;
                border:none;
               
            }
            
            main div:nth-last-child(2) input{
                height: 20px; 
            }
    
    
       
    
          main div:nth-child(3) h4{
            
            font-size: 18px;
            text-align: left;
            width: 70%;
            
            }
    
            main div:nth-child(3) button[type="submit"]{
                width: 30%;
                height: 30px;
                font-family: 'Anton', sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 15px;
                border: none;
                border-radius: 6px;
                background-color: #5697fa;
            }
    
            main div:nth-child(3) input{
                margin-right: 10px;
                background-color: #ffffff;
                padding: 0% 2% 0% 0%;
                font-weight: bold;
                display: flex;
            }
    
     





            .zonaInferior{display: flex;
                flex-direction: column;
                width: 100%;
                height: 25vh;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }                               /*Contenedor de los botones de abajo*/
            
            
            main div:nth-child(3) input[type=file]::-webkit-file-upload-button{
                height: 30px;
                width: 20vw;
                font-family: 'Anton', sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 13px;
                background-color: #5697fa;
                border-radius: 6px;
                border-style: none;
            }                                   /*Botón Elegir archivo*/
            
                main div:nth-child(3) input{
                        margin-right: 10px;
                        background-color: #ffffff;
                        padding: 0% 2% 0% 0%;
                        font-weight: bold;
                        height: 30px;
                        width: 70vw;
                    }                           /*Input*/
            
                main div:nth-child(3) #adjuntar{
                    align-items: center; 
                    width: 25vw;
                                                /*Boton Adjuntar*/
                }
                
                main div:nth-child(3) button[type="submit"]{
                    height: 30px;
                    font-family: 'Anton', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    font-size: 15px;
                    background-color: #5697fa;
                    border-radius: 6px;
                    border-style: none;
                    
                }                                           /*Dos botones azules*/

                
                main div:nth-child(3) #guardar{
                    width: 25vw;
                    margin-bottom: 3%;                      /*Boton Publicar*/
 
                }


        

                main div:nth-child(3) #tacho{
                border: none;
                align-self: center;
                padding: 1px 0% 0% 1%;
                
                }

                main div:nth-child(3) button i{
                    font-size: 25px;
                    color: red;
                
                    
                    
                }

                main div:nth-child(3) button[type="file"]{
                margin-left: 20px;
                
                }






                
 }