/*Configuraciones*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*Listado de colores*/
#color1{background-color: #5697fa;}
#color2{background-color: #bb0a21;}
#color3{background-color: #66c674;}
#color4{background-color: #ffffff;}
#color5{background-color: #ebebeb;}
#color6{background-color: #333333;}
#color7{background-color: #666666;}
#color8{background-color: #000000;}
 
/*Listado de fuentes*/
#fuente1{font-family: 'Anton', sans-serif;}
#fuente2{font-family: 'Roboto', sans-serif;}


/*Aplicación de estilos Genéricos por defecto*/
*{  
    margin: 0px;
    padding: 0px;
    color: #000000;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
}

body{background-color: #ffffff;}  /*Color de fondo del sitio*/


/*Configuraciones para CSS Desktop Version*/
@media screen and (min-width: 801px)
{ 
#Goodbikes{display: none;}
#Bars{display: none;}
.ocultoMovil{display: none;}

    .Contenedor{width: 80%;display: flex;}    /*El contenedor genérico - Dejamos un 10% de espacio a cada lado*/

        /*HEADER--->header.css*/
       
        /*MAIN*/

        main{
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            
            
        }

        main .titulos{
            margin-bottom: 3%;
        }
        main .divCarga{
            background-color: #ebebeb ;
            width: 80%;
            margin: 0% 10% 0% 10%;     
            display: flex;
            flex-wrap: wrap;
            justify-content: center;     
            padding-bottom: 10px; 
        }


        main div h1 {
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 0.1em;
            font-weight: bold;
            align-self: left;
        }
       
        main div h2{
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 0.1em;
            font-weight: bold;
   

        }
       
        main div:nth-last-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        }

        main div:nth-last-child(2) h4{
            font-size: 18px;
            text-align: left;
            width: 50%;
           
        }
        main div:nth-last-child(2) select{
            font-size: 15px;
        }

       
        main div:nth-last-child(2) .valores{
            width: 50%;
            margin-bottom: 10px;
           
        }
        
        main div:nth-last-child(2) input{
            height: 20px; 
        }


      main div:nth-child(3){
        

        
      }

      main div:nth-child(3) h4{
        
        font-size: 18px;
        text-align: left;
        width: 50%;
        
        }

        main div:nth-child(3) button[type="submit"]{
            width: 20%;
            height: 30px;
            margin: 10px;
            font-family: 'Anton', sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: 15px;
            border: none;
            border-radius: 6px;
            background-color: #5697fa;
        }

        main div:nth-child(3) input{
            margin-right: 10px;
        }
 

        main div:nth-child(3) #tacho{
           border: none;
         
        }

        main div:nth-child(3) button i{
            font-size: 25px;
            color: red;
           
            
            
        }

        main div:nth-child(3) button[type="file"]{
         margin-left: 20px;
        }
        main div:nth-child(3) #guardar{
            align-self: center;
            justify-content: center;
            margin-left: 40%;
            
        }
   
       
       
       




       
       
        /*FOOTER*/

        footer{
            height: 80px;
            position: relative;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            font-weight: 300;
            text-decoration: none;
            display: flex;
            margin-top: 6%;
            background-color: #bb0a21;  
            margin-bottom: 0%;
            padding-top: 1%;}

            footer ul {
                list-style-type: none;}
            
                footer ul li p {
                    text-decoration: none;
                    color: white;
                    letter-spacing: 0.1em;
                    margin: 5px;}
                    
                footer ul li a {
                    text-decoration: none;
                    color: white;
                    letter-spacing: 0.1em;}
                
                        footer ul li a i {
                        font-size: 15px;
                        font-weight: 200;
                        color: inherit;
                        margin: 5px;}

}