/*Configuraciones*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*Listado de colores*/
#color1{background-color: #882345;}
#color2{background-color: #bb0a21;}
#color3{background-color: #66c674;}
#color4{background-color: #ffffff;}
#color5{background-color: #ebebeb;}
#color6{background-color: #3E3D40;}
#color7{background-color: #666666;}
#color8{background-color: #000000;}

/*Listado de fuentes*/
#fuente1{font-family: 'Anton', sans-serif;}
#fuente2{font-family: 'Roboto', sans-serif;}



/*Aplicación de estilos Genéricos por defecto*/
*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #000000;
}


body{background-color: #ffffff;}  /*Color de fondo del sitio*/


/*Configuraciones para CSS Desktop Version*/
@media screen and (min-width: 801px)
{
#Goodbikes{display: none;}
#Bars{display: none;}
.ocultoMovil{display: none;}

    /*main*/


    #Presentacion{display:flex; flex-direction: row;justify-content: center;align-items: center;margin: 3%;}
    #Titulo_Tienda{font-family: 'Anton', sans-serif; font-size: 2.2em;letter-spacing: 0.1em;}
    #img_tit{width:8%; height:auto}

    /* main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;

    } */

    #CarritoFormulario{display: flex;flex-direction: column;align-items: center;justify-content: center;}

        .elItem{
            width: 80vw;
            height: 20vh;
            border-style: solid;
            border-width: 1px;
            border-radius: 5px;
            background-color: #ebebeb;
            border: solid 2px #3E3D40;
            margin: 1vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

                .elItem img{
                    height: 15vh;
                    width: 15vh;
                    border-width: 0px;
                    border-radius: 10px;
                }

                .elItem div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 18vh;
                    width: 18vh;
                } 

 

                    .elItem div p {
                        text-align: center;
                    } 


            .elItem ul{
                list-style:none;
                text-align: center;
                line-height: 30px;}

            .elItem ul li{
                font-weight: 500;
                color: #66c674;
            }

           .elItem ul li:hover{
                color: #333333;
            }


    .tituloProducto{
        font-family: 'Anton', sans-serif;
        color: #bb0a21;
        font-size: 15px;
        letter-spacing: 0.05em;
        text-align: center;
    }

    .valorProducto{
        font-family: 'Roboto', sans-serif;
    }
    
    .CantidadProducto{width: 3vw;text-align: center;}
    #tacho i{
        font-size: 25px;
        color: #333333;
    }

    #tacho i:hover{
        color:  #bb0a21;
    }


    /*SECCION TOTAL*/
    #total{
        width: 40vw;
        margin-top: 1vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
        #precioTotal{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
            .precio{
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                margin: 1vh;
                width: 40%;
            }

    
    #comprar{
        width: 20vw;
        height: 30px;
        margin: 10px;
        font-family: 'Anton', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 15px;
        border: none;
        border-radius: 6px;
        background-color: #3E3D40;
        color: white;
        align-self: center;
    }


    #comprar:hover{background-color: #882345;}


 }



 /*CSS Mobile Version*/
@media screen and (min-width: 200px) and (max-width: 800px) {
#GoobBikes_en_el_menu{display: none;}
/* #Al_Home{display: none;} */
#Oferta1{display: none;}
#Oferta2{display: none;}
#Oferta3{display: none;}
#Oferta4{display: none;}
#Oferta5{display: none;}

    #Goodbikes{display: flex;font-family: 'Anton', sans-serif;color: #bb0a21;text-transform: uppercase;letter-spacing: 0.1em; text-decoration: none;}


    #Presentacion{display:flex; flex-direction: row;justify-content: center;align-items: center;margin: 5vh 0px;}
    #Titulo_Tienda{font-family: 'Anton', sans-serif; font-size: 1.8em;letter-spacing: 0.1em;}
    #img_tit{width:15%; height:auto}





        .ContenedorOfertas{
            display: block;
            text-align: center;
            padding: 5%;
            background-color: #ebebeb;
            }

            #Oferta0{align-self: center;}
                .Oferton{border-radius: 10px;}


    main{display: flex;flex-direction: column;justify-content: space-around;align-items: center;
        text-align: center;flex-grow: 2;}

    main div{margin: 0%;}

        #productoUno{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;}

        main section p{text-align: center;}

           img{
                    border-radius: 10px;
                    border-style: solid;
                    margin: 2% 0% 2% 0%;
                    border-color: #666666;
                    border-width: 3px;
                    width: 30vh;
                    height: 20vh;
                    align-self: center;}

            #CantidadesProducto{
                width: 16vw;
                height: 4vh;
                margin: 0.5vh;
                font-size: 12px;
                text-align: center;}

            #resumenProducto{display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 13px;
            }

            #precio{display: flex;flex-direction: column;justify-content: center;align-items: center;}

            .tituloProducto{
            margin:1vh;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            }

            .valorProducto{
                font-size: 15px;
                font-weight: bold;
            }

            #tacho i{
                font-size: 24px;
                margin: 1vh}


            #precioTotal{display:flex;flex-direction: row;justify-content: space-around;}

            .precio{font-size: 13px;font-weight: bold;margin: 1vh;}

            #comprar{
                width: 40vw;
                margin: 2vh 0% 2vh 0%;
                font-family: 'Anton', sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 15px;
                border: none;
                border-radius: 6px;
                background-color: #3E3D40;
                color: #ffffff;
                align-self: center;

            }
            #comprar:hover{background-color: #66c674;}



}