/*Configuraciones*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*Listado de colores*/
#color1{background-color: #5697fa;}
#color2{background-color: #bb0a21;}
#color3{background-color: #66c674;}
#color4{background-color: #ffffff;}
#color5{background-color: #ebebeb;}
#color6{background-color: #333333;}
#color7{background-color: #666666;}
#color8{background-color: #000000;}
 
/*Listado de fuentes*/
#fuente1{font-family: 'Anton', sans-serif;}
#fuente2{font-family: 'Roboto', sans-serif;}


/*Aplicación de estilos Genéricos por defecto*/
*{  
    margin: 0px;
    padding: 0px;
    color: #000000;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
}

body{background-color: #ffffff;}  /*Color de fondo del sitio*/


/*Configuraciones para CSS Desktop Version*/
@media screen and (min-width: 801px)
{ 
#Goodbikes{display: none;}
#Bars{display: none;}
.ocultoMovil{display: none;}

#Contenedor
{display: flex; 
flex-direction: column;

height: 100vh;
width: 100vw;
} 


        /*HEADER--->header.css*/
        /*MAIN*/

                main{
                    display:flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    width: 100%;
                }


                main div h1 {
                    font-family: 'Roboto', sans-serif;
                    text-transform: capitalize;
                    font-size: 20px;
                    letter-spacing: 0.1em;
                    font-weight: bold;
                    margin: 5% 0% 0% 2%;
                    text-align: center;
                }

                main .divTabla{
                    font-family: 'Anton', sans-serif;
                    text-transform: uppercase;
                    font-size: 10px;
                    letter-spacing: 0.1em;
                    margin-top: 5%;
                    margin: 5% 10% 0% 10%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                }

                main .divTabla table{
                    display: flex;
                    flex-flow: column nowrap;
                    font-size: .8rem;
                    margin: 0.5rem;
                    line-height: 1.5;
                    border-bottom: 1px solid #d0d0d0;
                    flex: 1 1 auto;
                    margin-bottom: 6%;
                    border: 3px solid #d0d0d0;
                    
                }

                main .divTabla table tr{
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    
                }

                main .divTabla table tr:nth-of-type(odd){
                    background-color: #f2f2f2;
                }

                main .divTabla table tr:nth-of-type(even){
                    background-color: #ffffff;
                }

                main .divTabla table tr th{
                    white-space: normal;
                    justify-content: center;
                    display: flex;
                    flex-flow: row nowrap;
                    flex-grow: 1;
                    flex-basis: 0;
                    padding: 0.5em;
                    word-break: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    min-width: 0px;
                    white-space: nowrap;
                    font-size: 15px;
                    border-bottom: 3px solid #d0d0d0;    
                }

              
                main .divTabla table tr th i{
                    font-size: 20px;
                    color: green;

                }

                main .divTabla table tr td{
                    white-space: normal;
                    justify-content: center;
                    display: flex;
                    flex-flow: row nowrap;
                    flex-grow: 1;
                    flex-basis: 0;
                    padding: 0.5em;
                    word-break: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    min-width: 0px;
                    white-space: nowrap;
                   
                }
              
                main .divTabla table tr td a i{
                    font-size: 20px;
                    margin-right: 10px;
                }

                main .divTabla table tr td i{
                    font-size: 20px;
                 }
                 main .divTabla table tr td i:nth-child(1):hover {
                    color: green;
                }

                #btnTacho{
                 border: none   
                }
                 #tacho {
                     color: red;
                 }



            }


/*CSS Mobile Version*/
@media screen and (min-width: 200px) and (max-width: 800px) {
    #GoobBikes_en_el_menu{display: none;}
    /* #Al_Home{display: none;} */
    #Goodbikes{display: flex;font-family: 'Anton', sans-serif;color: #bb0a21;text-transform: uppercase;letter-spacing: 0.1em; text-decoration: none;}
    
    
   
    
    body
        {display: flex; 
        justify-content: center;
        flex-direction: column;}

        #Contenedor
            {display: flex; 
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
            width: 100vw;
            background-color: #ebebeb;} 
           



        
        .divTabla{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 95vw;
            

            }

            table{width: 90%;}/**/
            table tbody{align-self: center;width: auto;} /**/
            table tbody td {padding: 0% 8px 0% 8px} /* Centrando la tabla y acomodando sus elementos*/
         
        main div h1 {
            font-family: 'Roboto', sans-serif;
            text-transform: capitalize;
            font-size: 15px;
            letter-spacing: 0.1em;
            font-weight: bold;
            text-align: center;
            margin: 2%;
        }
       
        main div h2{
            font-family: 'Roboto', sans-serif;
            text-transform: capitalize;
            font-size: 13px;
            text-align: center;
            letter-spacing: 0.1em;
            font-weight: bold;
            margin: 0% 0% 3% 2%;
        }

        main{
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            background-color: #ebebeb ;
        }


        main .divTabla table{
            display: flex;
            flex-flow: column nowrap;
            font-size: .8rem;
            margin: 0.5rem;
            line-height: 1.5;
            border-bottom: 1px solid #d0d0d0;
            /* flex: 1 1 auto; */
            margin-bottom: 6%;
            border: 3px solid #d0d0d0;
            width: 90vw;
        }

        main .divTabla table tr:nth-of-type(odd){
            background-color: #f2f2f2;
        }

        main .divTabla table tr:nth-of-type(even){
            background-color: #ffffff;
        }
        
        main .divCarga{
            
            width: 100%;
            /* margin: 0% 10% 0% 10%;      */
            display: flex;
            flex-wrap: wrap;
            justify-content: center;     
            
        }

        main div:nth-last-child(2){
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
            }
    
            main div:nth-last-child(2) h4{
                font-size: 18px;
                text-align: left;
                width: 90%;
               
            }
            main div:nth-last-child(2) select{
                font-size: 15px;
                width: 80%;
            }
    
           
            main div:nth-last-child(2) .valores{
                width: 80%;
                margin-bottom: 10px;
                border:none;
               
            }
            
            main div:nth-last-child(2) input{
                height: 20px; 
            }
    
    
       
    
          main div:nth-child(3) h4{
            
            font-size: 18px;
            text-align: left;
            width: 70%;
            
            }
    
            main div:nth-child(3) button[type="submit"]{
                width: 30%;
                height: 30px;
                font-family: 'Anton', sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 15px;
                border: none;
                border-radius: 6px;
                background-color: #5697fa;
            }
    
            main div:nth-child(3) input{
                margin-right: 10px;
                background-color: #ffffff;
                padding: 0% 2% 0% 0%;
                font-weight: bold;
                display: flex;
            }
    
     

         
            .zonaInferior{display: flex;
                flex-direction: column;
                width: 100%;
                height: 25vh;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }                               /*Contenedor de los botones de abajo*/
            
            
            main div:nth-child(3) input[type=file]::-webkit-file-upload-button{
                height: 30px;
                width: 20vw;
                font-family: 'Anton', sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 13px;
                background-color: #5697fa;
                border-radius: 6px;
                border-style: none;
            }                                   /*Botón Elegir archivo*/
            
                main div:nth-child(3) input{
                        margin-right: 10px;
                        background-color: #ffffff;
                        padding: 0% 2% 0% 0%;
                        font-weight: bold;
                        height: 30px;
                        width: 70vw;
                    }                           /*Input*/
            
                main div:nth-child(3) #adjuntar{
                    align-items: center; 
                    width: 25vw;
                                                /*Boton Adjuntar*/
                }
                
                main div:nth-child(3) button[type="submit"]{
                    height: 30px;
                    font-family: 'Anton', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    font-size: 15px;
                    background-color: #5697fa;
                    border-radius: 6px;
                    border-style: none;
                    
                }                                           /*Dos botones azules*/

                
                main div:nth-child(3) #guardar{
                    width: 25vw;
                    margin-bottom: 3%;                      /*Boton Publicar*/
 
                }


        

                main div:nth-child(3) #tacho{
                border: none;
                align-self: center;
                padding: 1px 0% 0% 1%;
                
                }

                table tbody tr td i{
                    font-size: 16px;
                    color: red;
                    margin-left: 2vw;
                
                    
                    
                }

                main div:nth-child(3) button[type="file"]{
                margin-left: 20px;
                
                }






                
 }