
/*Configuraciones*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*Listado de colores*/
#color1{background-color: #5697fa;}
#color2{background-color: #bb0a21;}
#color3{background-color: #66c674;}
#color4{background-color: #ffffff;}
#color5{background-color: #ebebeb;}
#color6{background-color: #333333;}
#color7{background-color: #666666;}
#color8{background-color: #000000;}
 
/*Listado de fuentes*/
#fuente1{font-family: 'Anton', sans-serif;}
#fuente2{font-family: 'Roboto', sans-serif;}


/*Aplicación de estilos Genéricos por defecto*/
* { 
    margin: 0px;
    padding: 0px;
    color: #000000;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
}




body{background-color: #ffffff;}  /*Color de fondo del sitio*/


/*Configuraciones para CSS Desktop Version*/
@media screen and (min-width: 801px) {
    #Goodbikes{display: none;}
    .Contenedor{width: 80%;display: flex;}    /*El contenedor genérico - Dejamos un 10% de espacio a cada lado*/
    #Bars{display: none;}
    .ocultoMovil{display: none;}

    /*HEADER--->header.css*/
    

 

    main{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
    }

    main div {
        width: 90%;
        padding: 12px;
        display: flex;
        text-align: center;
        border-radius: 10px;
        background-color: #ebebeb;

    }

    main section{
        width: 210px;
        height: 250px;
        border-style: solid;
        border-width: 0px;
        border-radius: 10px;
        border-color: #666666;
        background-color: #ffffff;
        margin-left: 1%;
        margin-right: 1%;
        /* margin-top: 1%; */
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #DetalleCompleto {
        width: 800px;
        /* height: 250px; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0%;
        padding: 0%;
        flex-direction: column;
    }

        #cuadrosSuperiores{
            width: 800px;
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            justify-content: center;
            align-items: center;
        }
            #CuadroCentro {
                width: 290px;
                display:flex;
                flex-wrap: wrap;
                
            }
            
            #CuadroIzquierdo{
                justify-content: space-evenly;
            }
             
            #CuadroDerecho{
                display: flex;
                align-items: center;
                font-size: 20px;
            }
            
            #CuadroDerecho h1{
               font-size: 18px;
            }
            
            #CuadroDerecho span{
               font-size: 18px;
            }
            
            
            #CuadroDerecho button{
                height: 30px;
                padding: 2px 22px 2px 22px;
                background-color: #5697fa;
                font-family: 'Anton', sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                font-size: 15px;
                border: none;
                border-radius: 3px;
            }
            
        #CuadroHorizontal{
        width: 750px;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        padding: 1%;
        margin: 0% 0% 1% 0%;
        }
main section figure{
    display:flex; 
    justify-content: center;
    align-items: center; 
}
main div div section figure img{
    width: 80%;
      
}

  main section img:hover{
      border-style: solid;
      border-color: #5697fa;
  }

  main section ul{    
      list-style:none;
      text-align: center;
      line-height: 30px;}
  
  main section ul li{
      font-weight: 500;
      color: #66c674;
  }

  main section ul li:hover{
      color: #333333;
  }
  .imagenIzquierda {
    width: 35%;  
  }

  
 
  /*FOOTER*/

  footer{
    height: 80px;
    position: relative;
    background-color: #bb0a21;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 0%;
    margin-top: 5%;
    
  }

 
/* footer > * { preguntar herencia
    color:white;
} */

  footer ul {
      list-style-type: none;
      
      
 }

  footer ul li p {
      text-decoration: none;
      color: white;
      letter-spacing: 0.1em;
      margin: 5px;
    
  }
  footer ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.1em;
   
  
}

    footer ul li a i {
    font-size: 15px;
    font-weight: 200;
    color: inherit;
    margin: 5px;
 }
}


/*CSS Mobile Version*/
@media screen and (min-width: 200px) and (max-width: 800px) {
    
    #GoobBikes_en_el_menu{display: none;}
    /* #Al_Home{display: none;} */
    #Goodbikes{display: flex;font-family: 'Anton', sans-serif;color: #bb0a21;text-transform: uppercase;letter-spacing: 0.1em; text-decoration: none;}
     
    body
        {display: flex; 
        justify-content: center;
        flex-direction: column;}
    #Contenedor
        {display: flex; 
        flex-direction: column;
        justify-content: flex-start;} 

        /*HEADER--->header.css*/

        nav{position: absolute;
            top: 6%; 
            left: 5%; 
            }

            nav ul {
                background-color: #ebebeb;
                border-color: #666666;
                border-style: solid;
                border-width: 1px;
                list-style-type: none;
                margin-top: 10%;
                display: none;
                flex-direction: column;
                justify-content: space-around;
                height: 40vh;
                width: 25vh;
                padding-left: 2vh;
                padding-right: 6px;
                border-radius: 10px;
                
            }
                nav ul li a {text-decoration: none;}
            

        .ContenedorOfertas{
            display: block;
            text-align: center;
            padding: 10%;
            background-color: #ebebeb;
            }

            #Oferta0{align-self: center;}
                .Oferton{border-radius: 10px;}
            #Oferta1{display: none;}
            #Oferta2{display: none;}
            #Oferta3{display: none;}
            #Oferta4{display: none;}
            #Oferta5{display: none;}

    main{display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}

        #cuadrosSuperiores{display: flex;flex-direction: column;justify-content: space-between;align-items: center;}

        main figure{display: flex; flex-direction: column;justify-content: center;}
        main img{
            border-radius: 10px;
            border-style: solid; 
            margin-top: 5%;
            margin-bottom: 5%; 
            border-color: #666666;
            border-width: 3px;
            width: 30vh;}
            
        main section ul li{
            display: flex; 
            justify-content: center;
            color: #66c674;}

            #CuadroHorizontal h3{text-align: center; margin: 1vh;}
            #CuadroHorizontal p{text-align: center;}

            button{
                height: 30px;
                margin: 1vh;
                padding: 2px 22px 2px 22px;
                background-color: #5697fa;
                font-family: 'Anton', sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                font-size: 15px;
                border: none;
                border-radius: 3px;
                }

            
    footer{background-color: #bb0a21; text-align: center;margin-top: 5%; padding-top: 5%;padding-bottom: 5%;}
            footer ul li a{color: #ffffff;text-decoration: none;font-size: 10px;}   
            footer ul li p{color: #ffffff;text-decoration: none;font-size: 10px;} 
            footer ul li i{color: #ffffff;text-decoration: none;font-size: 10px;} 
           
}