<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/homestyle.css" type="text/css" media="screen"><!--Estilos-->
    <title>Goodbikes</title>
</head>
<body>
    <div id='Contenedor'>  
        <header> 
            <img src="../../public/desing/Logo-en-Blanco.png" alt="">
            <form action="">
                <input type="text" placeholder="¡Encuentra tu Good Bike!">
            </form>
            <div id='logIn'>Ingresar</div>
        </header>

        <nav> 
            <ul>
                <li>Rodados</li>
                <li>Equipamiento</li>
                <li>Indumentaria</li>
                <li>Accesorios</li>
                <li>Taller</li>
            </ul>           
        </nav>

        <section id='Ofertas' class='ContenedorOfertas'>            
            <figure id='Oferta1' ><img src="../../public/images/products/bike1.PNG" class='Oferton' alt="Oferta1"></figure>
            <figure id='Oferta2' ><img src="../../public/images/products/bike1.PNG" class='Oferton' alt="Oferta1"></figure>
            <figure id='Oferta3' ><img src="../../public/images/products/bike1.PNG" class='Oferton' alt="Oferta1"></figure>
            <figure id='Oferta4' ><img src="../../public/images/products/bike1.PNG" class='Oferton' alt="Oferta1"></figure>
            <figure id='Oferta5' ><img src="../../public/images/products/bike1.PNG" class='Oferton' alt="Oferta1"></figure>
        </section>

        <main>
            <section id='CuadroIzquierdo'>
                <figure id='Principal1' ><img src="../../public/images/products/bike1.PNG" alt="Principal1"></figure>
                <ul>
                    <li>+Info</li>
                    <li>Agregar</li>
                </ul>          
            </section>
            
            <section id='CuadroCentro'>
                <figure id='Principal1' ><img src="../../public/images/products/bike1.PNG" alt="Principal1"></figure>
               
                <ul>
                    <li>+Info</li>
                    <li>Agregar</li>
                </ul>  
            </section>

            <section id='CuadroDerecho'>
                <figure id='Principal1' ><img src="../../public/images/products/bike1.PNG" alt="Principal1"></figure>
                 <ul>
                    <li>+Info</li>
                    <li>Agregar</li>
                </ul>  
            </section>

        </main>
        <footer>
            ATR PERRO CUMBIA CAJETEALA PIOLA GATO
        </footer>


    </div>
</body>
</html>



