<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productCart.css">
    <title>Carrito</title>
</head>
<body>

    <header>
        <img src="/desing/logo-goodBikes.png" alt="logo-goodBikes">
       
        <form action="">
            <input type="text"> 
            <a href=""></a>
            
        </form>
    
        
        <a href="">Login</a>
        <a href="">Registrate</a>
        <a href="">Carrito</a>
    </header>

    <nav>
        <div>
            <ul>
                <li><a href="#">Rodados</a></li>
                <li><a href="#">Equipamiento</a></li>
                <li><a href="#">Indumentaria</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Taller</a></li>
            </ul>
        </div>
    </nav>

    <form action="">
        <div>
            <img src="" alt="">
            <p>Resumen del producto</p>
            <p>
                <button>+</button>
                <button>-</button>
                cantidad
            </p>
            <p>Precio</p>
            <a href="">Tacho</a>
           
            <div>
                <button>Comprar</button>
                <p>Total</p>
            </div>
        </div>
    </form>
    <footer>Detalles corporativos</footer>
</body>
</html>