<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="icon" type="image/png" href="desing/Logo-en-Blanco.ico" sizes="16x16">
    <title>Detalle de producto</title>
</head>
<body>
<div id="contenedor">
    <header> 
        <a href="/"><img src="desing/Logo-en-Blanco.png" alt="Logo GoodBikes"></a>
        <form action="">
            <input type="text" placeholder="¡Encuentra tu Good Bike!">
        </form>
        <div class="ingresar">

            <ul>
                <li><a href="login">Login</a></li>
                <li><a href="register">Registrate</a></li>
                <li><a href="productCart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>

        </div>
    </header>

    <nav> 
        <i href="javascript:void(0)" id="Bars" onclick="myFunction()" class="fas fa-bars"></i>
        <ul id="Lista_Nav">
            <li id="Goodbikes">Goodbikes</li>
            <li>Rodados</li>
            <li>Equipamiento</li>
            <li>Indumentaria</li>
            <li>Accesorios</li>
            <li>Taller</li>
        </ul>           
    </nav>

    <script>
        function myFunction() {
        var x = document.getElementById("Lista_Nav");
        if (x.style.display === "none") {
            x.style.display = "flex";
        } else {
            x.style.display = "none";
        }
        }
    </script>
    
    <main>
        <div id="DetalleCompleto">
        
        <div id="cuadrosSuperiores">     

        

            <section id='CuadroIzquierdo'>
                    <figure  ><img class='imagenIzquierda'src="images/products/bike1.PNG" alt="Principal1"></figure>
                    <figure  ><img class='imagenIzquierda'src="images/products/bike1.PNG" alt="Principal1"></figure>
                    <figure  ><img class='imagenIzquierda'src="images/products/bike1.PNG" alt="Principal1"></figure>
        
            </section>
            
            <section id='CuadroCentro'>
                <figure id='Principal1' ><img src="images/products/bike1.PNG" alt="Principal1"></figure>
            
                <ul>
                    <li>+Info</li>
                    <li>Agregar</li>
                </ul>  
            </section>
            
            <section id='CuadroDerecho'>
                <h1>BICICLETA GIANT XTC ADVANCED</h1>
                <span>$657.438,09</span>
                <ul>
                    <li>+Info</li>
                    <li>Agregar</li>
                </ul>  
            </section>

        </div>  

        <section id='CuadroHorizontal'>
            <h3>MARCA SBK</h3>
            <h3>MODELO MT200</h3>
            <h3>ESPECIFICACIONES TECNICAS:</h3>
            <br>
            
            <p>CUADRO DE ALUMINIO 29" EN TALLES 15/17/19/21 S/T:34.9 PARA PORTASILLA 27.2MM RAW
                HORQUILLA DE ACERO 29" STEEL CROWN DE SUSPENSION ( DIAMETRO 28.6), LEG ( 35,THREADLESS STEM: DIAMETRO 25.4* X 28.6 * 190mm, RECORRIDO 120MM
                JUEGO DE DIRECCION DE ACERO 10PCS, 1-1/8" * 44 * 30,H:9mm WITH WASHERS 10mm*28.6 2PCS
                MANUBRIO DE ACERO RECTO STRAIGHT TYPE, W:650MM, DIAMETRO 31.8MM, 6° ACABADO MATE
                STEM DE ALUMINIO MTB, E:90,H=37, 10° : 31.8, ACABADO MATE
                MANIJAS DE FRENO DE ALUMINIO EF500 L/R:V 2-3 SHIMANO
                SET DE FRENOS DE ALUMINIO D: 10MM, A DISCO MECANICO YINXING
                CABLES DE FRENO CHHECKING SIZE NEGRO
                PUÑOS GRIP PVC L=130mm, NEGROS
                
            </p>
            <ul>
                <li>+Info</li>
            </ul>  
        </section>

        </div>
        
    </main>
    
    <form action="">
        <div id="galeria"></div>
        <div id="imagen"></div>
        <div id="compra"></div>
        <div></div>
    </form>
    
    
    
    
    <footer>

        <ul>
            <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i> /goodbikes</a></li>
            <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i> @goodbikes</a></li>
            <li><a href="https://www.twitter.com"><i class="fab fa-twitter-square"></i> @goodbikes</a></li>
        </ul>
    

        <ul>
            <li><a href="#"><i class="fab fa-whatsapp"></i> 11-2349-1915</a></li>
            <li><a href="https://www.google.com/maps/place/Av.+Monroe+860,+Buenos+Aires/data=!4m2!3m1!1s0x95bcb436f18dc22f:0x36090a5d367889c6?sa=X&ved=2ahUKEwj28e2ghN7sAhWgJLkGHTuuCosQ8gEwAHoECAsQAQ"><i class="fas fa-map-marker-alt"></i> Salta 2547, CABA</a></li>
            <li><a href="#"><i class="far fa-envelope"></i> email@googbikes.com</a></li>
        </ul>

        <ul>
            <li><a href="#">Creado con DH curso</a></li>
            <li><a href="#">© Copyright GoobBikes - 2020</a></li>
            <li><a href="#">Todos los derechos reservados.</a></li>

        </ul>
    
        
    </footer>

    </div>        
</body>
</html>