<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
          
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <title>Good Bikes</title>
</head>
<body>


<header>
  <div class="seccionSuperior">
    <a href="/"><img src="/desing/logo-goodBikes.png" alt=" logo-goodBikes" class="logo"></a>
    <form action="">
      <input type="text" placeholder="Buscar poductos y marcas"><button type="submit"><i class="fas fa-search"></i>
      </button>
    </form>
  </div>
  
  <nav>
    <ul>
      <li><a class="vinculoLista" href="login.html">Login</a></li>
      <li><a class="vinculoLista" href="register.html">Registrate</a></li>
      <li><a class="vinculoLista" href="collapsible.html">Carrito</a></li>
    </ul>
  </nav>
</header>


<div class="seccionMedio">
  <nav>


    <ul>
      <li><a class="subMenu" href="#">Rodados</a></li>
      <li><a class="subMenu" href="#">Equipamiento</a></li>
      <li><a class="subMenu" href="#">Indumentaria</a></li>
      <li><a class="subMenu" href="#">Accesorios</a></li>
      <li><a class="subMenu" href="#">Taller</a></li>
    </ul>
  </nav>
</div>



    
   

    <form action="">
        <div>
            <img class="imagenCarrito" src="/desing/logo-goodBikes.png" alt="producto carrito">
            <p class="resumenPro">Resumen del producto</p>
            <p class="cantidad">
                <button>+</button>
                cantidad
                <button>-</button>
               
            </p>
            <p class="precio">Precio</p>
            <a class="tacho" href="">Tacho</a>
           
            <div class="seccionInferior">
                <button>Comprar</button>
                <p>Total</p>
            </div>
        </div>
    </form>

    <footer>Detalles corporativos</footer>
</body>
</html>