<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <title>Carrito de compras</title>
</head>
  <body>

  <div id='Contenedor'>

    <header> 
      <div class="logo">
          <a  id="Al_Home" href="/"><img src="desing/Logo-en-Blanco.png" alt="Logo GoodBikes"></a>
          <p id="GoobBikes_en_el_menu">GoodBikes</p>  
      </div>
      
      <form action="">
          <input type="text" placeholder="¡Encuentra tu Good Bike!">
      </form>
      <div id="Contenedor_Ingresar" class="ingresar">

          <ul>
              <li id="Tag_Login"><a href="login">Login</a></li>
              <li id="Tag_Register"><a href="register">Registrate</a></li>
              <li><a href="productCart"><i id="Tag_Cart" class="fas fa-shopping-cart"></i></a></li>
          </ul>

      </div>
  </header>

  <nav> 
      <i href="javascript:void(0)" id="Bars" onclick="myFunction()" class="fas fa-bars"></i>
      <ul id="Lista_Nav">
          <li ><a id="Goodbikes"href="/">Goodbikes</a></li>
          <li>Rodados</li>
          <li>Equipamiento</li>
          <li>Indumentaria</li>
          <li>Accesorios</li>
          <li>Taller</li>
      </ul>           
  </nav>

  <script>
      function myFunction() {
      var x = document.getElementById("Lista_Nav");
      if (x.style.display === "none") {
          x.style.display = "flex";
      } else {
          x.style.display = "none";
      }
      }
  </script>


    <main>
      <section id="productoUno">
        <figure>
            <img src="/images/products/bike1.PNG" alt="Producto carrito">
        </figure>
        <div id="resumenProducto">
          <p class="tituloProducto">
            Resumen del producto
          </p> 
          <p class="valorProducto" id="">
            Bici con 2 ruedas y una playera copada
          </p>
        </div>
        <div id="cantidad">
          <form action="">
            <p class="tituloProducto">
              Cantidad
            </p>
            <select id="CantidadesProducto" name="ListaCantidades" form="CantidadesForm" class="valorProducto">
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=4>5</option>
              <option value=4>6</option>
              <option value=4>7</option>
              <option value=4>8</option>
              <option value=4>9</option>
              <option value=4>10</option>
            </select>
          </form>
        </div>
        <div id="precio">
          <p class="tituloProducto">
             Precio
          </p>
          <p class="valorProducto">
            $12345
          </p>
        </div>
        <div id="tacho">
          <i class="fas fa-trash-alt"></i>
        </div>
      </section>
      

      <section id="total">
        <p class="precio">Total</p>
        <p class="precio">$12345</p>
        <form action="">
          <button type="submit" id="comprar">Comprar</button>
        </form>
      </section>

      

    </main>

    
   
    
    <!-- <form action="">
        <div>
            <img class="imagenCarrito" src="/desing/logo-goodBikes.png" alt="producto carrito">
            <p class="resumenPro">Resumen del producto</p>
            <p class="cantidad">
                <button>+</button>
                cantidad
                <button>-</button>
               
            </p>
            <p class="precio">Precio</p>
            <a class="tacho" href=""><i class="fas fa-trash-alt"></i></a>
           
            <div class="seccionInferior">
                <button>Comprar</button>
                <p>Total</p>
            </div>
        </div>
    </form>
     -->
  
     <footer>

      <ul>
          <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i> @goodbikes</a></li>
          <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i> /goodbikes</a></li>
          <li><a href="https://www.twitter.com"><i class="fab fa-twitter-square"></i> @goodbikes</a></li>
      </ul>
  
  
      <ul>
          <li><a href="#"><i class="fas fa-phone"></i> 11-2349-1915</a></li>
          <li><a href="https://www.google.com/maps/place/Av.+Monroe+860,+Buenos+Aires/data=!4m2!3m1!1s0x95bcb436f18dc22f:0x36090a5d367889c6?sa=X&ved=2ahUKEwj28e2ghN7sAhWgJLkGHTuuCosQ8gEwAHoECAsQAQ"><i class="fas fa-map-marker-alt"></i> Salta 2547, CABA</a></li>
          <li><a href="#"><i class="far fa-envelope"></i> email@googbikes.com</a></li>
      </ul>
  
      <ul>
          <li><p>Creado con DH curso</p></li>
          <li><p>© Copyright GoobBikes - 2020</p></li>
          <li><p>Todos los derechos reservados.</p></li>
  
      </ul>
  
      
  </footer>
 </div>
</body>
</html>