<link rel="stylesheet" href="/css/footer.css">


<footer>
    <ul>
        <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i> @goodbikes</a></li>
        <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i> /goodbikes</a></li>
        <li><a href="https://www.twitter.com"><i class="fab fa-twitter-square"></i> @goodbikes</a></li>
    </ul>


    <ul>
        <li><a href="https://api.whatsapp.com/send?phone=541159236648&text= Hola!%20Quiero%20comprar%20una%20bici%20GoodBike!"><i class="fab fa-whatsapp"></i> 11-2349-1915</a></li>
        <li><a href="https://www.google.com/maps/place/Av.+Monroe+860,+Buenos+Aires/data=!4m2!3m1!1s0x95bcb436f18dc22f:0x36090a5d367889c6?sa=X&ved=2ahUKEwj28e2ghN7sAhWgJLkGHTuuCosQ8gEwAHoECAsQAQ"><i class="fas fa-map-marker-alt"></i> Salta 2547, CABA</a></li>
        <li><a href="#"><i class="far fa-envelope"></i> email@googbikes.com</a></li>
    </ul>

    <ul>
        <li><p>Creado con DH curso</p></li>
        <li><p>© Copyright GoobBikes - 2020</p></li>
        <li><p>Todos los derechos reservados.</p></li>

    </ul>

    
</footer>