<link rel="stylesheet" href="/css/header.css">

<header> 
    <div class="logo">
        <a id="Al_Home" href="/"><img src="/desing/Logo-en-Blanco.png" alt="Logo GoodBikes"></a>
        <p id="GoobBikes_en_el_menu">GoodBikes</p>
    </div>
    
    <form action="">
        <input type="search" placeholder="¡Encuentra tu Good Bike!" name="search">
    </form>
    <div id="Contenedor_Ingresar" class="ingresar">

        <ul>
           
            <% if(locals.user == undefined) {%>  
 
                <li id="Tag_Login"><a href="/users/login">Login</a></li>          
                <li id="Tag_Register"><a href="/users/register">Registrate</a></li>
            
            <%} else {%> 
                
                <li id="User_Name"> Que bueno verte, <%= locals.user %> !</li>

            <%}%>

            <li><a href="/products/productCart"><i id="Tag_Cart" class="fas fa-shopping-cart"></i></a></li>
        </ul>
        
    </div>
</header>
    <nav> 
    <i href="javascript:void(0)" id="Bars" onclick="myFunction()" class="fas fa-bars"></i>
    <ul id="Lista_Nav">
        <li ><a id="Goodbikes"href="/">Goodbikes</a></li>
        <li class="ocultoMovil"><a href="/users/login">Login</a></li>
        <li class="ocultoMovil"><a href="/users/register">Registrate</a></li>
        <hr class="ocultoMovil">
        <li>Rodados</li>
        <li>Equipamiento</li>
        <li>Indumentaria</li>
        <li>Accesorios</li>
        <li>Taller</li>
    </ul>           
</nav>
    
    <script>
        function myFunction() {
        var x = document.getElementById("Lista_Nav");
        if (x.style.display === "none") {
            x.style.display = "flex";
        } else {
            x.style.display = "none";
        }
        }
    </script>
