<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/notfound.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">


    <title>No encontrado</title>
</head>
<body>
    
    <div id='Contenedor_Body'> 
        <%- include('../partials/header')%>
        
        <h1>¡UPS!</h1>

        <h3>Parece que pinchamos</h3>
                
        <img id='img_login' src='/images/products/fixingbike.jpg'>
        <a href="/"><h4> Clic aquí para volver al home</h4></a>

        <%- include('../partials/footer')%>
    </div>    
    <script src="/js/loginValidator.js"></script>
    <script type="text/javascript" src="/js/header.js"></script>
    
</body>
</html>