<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile.css">

    <title>Mi Cuenta</title>
</head>
<body>
    <div id="Contenedor">
        <%- include('../partials/header')%>
        <main>
            <form action="" method="">

                <div id="Superior">
                    <h2>Mis Datos</h2>
                    <div class="primerSuperior">
                        <label for="Email" id="labelemail">Email</label>
                        <input type="email" name="email" id="email" >
                        
                        <label for="password" id="labelpass">Contraseña</label>
                        <input type="password" name="password" id="password">
                        <a href="#">Cambiar Contraseña</a>
                    </div>
                    <div class="segundoSuperior">
                        <label for="nombre" id="labelnombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre">
                        
                        <label for="apellido" id="labelapp">Apellido</label>
                        <input type="text" name="apellido" id="apellido">
                        
                    </div>
                    <div>
                        <button type="submit">Guardar</button>
                    </div>
                </div>
                
                <div id= "Inferior">
                    <h2>Mis Compras</h2>
                    <div class="compras">
                        <img src="/images/products/12737_800.jpg" alt="casco">
                            <div class="detalles">
                            <p>Casco Bontrager</p>
                            <p id="precio">$2.457,03</p>
                         </div>
                         <img src="/images/products/15424_800.jpg" alt="casco">
                            <div class="detalles">
                            <p>Accesorio</p>
                            <p id="precio">$1.234,03</p>
                         </div>
                       
                        
                        
                    </div>
                    
                </div>
                
            </form>
        </main>
        
        <%- include('../partials/footer')%>
    </div>
    
</body>
</html>