<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registrate en GoodBikes</title>
</head>
<body>
  <div id='Contenedor_Body'>  
    <%- include('../partials/header')%>


    <div class="contenedor_del_Main"> 
      <main>
        <form action="" method="POST">
          <div class="datos">
            <h1>Registrate en GoodBikes</h1>
            <input type="text" name="name" id="name" placeholder="Nombre">
            <input type="text" name="apellido" id="apellido" placeholder="Apellido">
            <input type="email" name="email" id="email" placeholder="Email">
            <!-- <input type="text" name="dni" id="dni" placeholder="DNI"> -->
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="password" name="repassword" id="repassword" placeholder="Repetir Password">
              <!-- <label for="">Imagen de perfil</label>
              <input id="avatar" type="file" name="avatar"> -->
            <button type="submit">Crear cuenta</button>
          </div>
       </form>
      </main>
    </div>
    
    <%- include('../partials/footer')%>

  </div>
</body>
</html>